/* Reset default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #000;
    color: #fff;
}

.logo img {
    height: 200px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style the hero section */
.hero {
    text-align: center;
    padding: 100px 0;
    background-image: url("hero_background.jpg");
    background-size: cover;
    color: #fff;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero button {
    padding: 10px 30px;
    font-size: 20px;
    background-color: #e50914;
    color: #ccbcc9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the categories section */
.categories {
    padding: 50px;
}

.categories h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.movie img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.movie h3 {
    font-size: 16px;
    text-align: center;
}

/* Style the footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}
  /* Style the footer */
  footer {
    background-color: #e50914;
  }